[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
max_line_length = 200

// NOTE: has auto-save impact! always.
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,css,scss,sass}]
insert_final_newline = true

[*.{txt, md}]
max_line_length = off
trim_trailing_whitespace = false
insert_final_newline = false

[*.{yml, json}]
indent_style = space
indent_size = 2
