@import '../common'

section
  flex: 1 0 300px
  background: var(--background2)
  color: var(--textColor2)
  border: 4px dashed lime

  transition: background-color $speedFast ease-in-out, color $speedFast ease-in-out

.hostInfos
  background: #9c9
