// CSS colors ██████████████████████████████████████████████
// • scss colors `$someVar`
// • css color variables `var(--someVar)`

$font-stack: Helvetica, sans-serif
$primary-color: #444

$purpleLight: #cae
$purpleDark: #427

$whiteMild: #bbb // some headroom for hover

$black1: #000
$black2: #444
$black3: #666

$white1: #fff
$white2: #ccc
$white3: #aaa

$radiusS: 5px
$radiusM: 10px
