// • scss colors `$someVar`
// • css color variables `var(--someVar)`

$font-stack: Helvetica, sans-serif
$primary-color: #444
$colorAccent: #96d // purple-ish highlight color
$colorAccent2: #d98 // purple-ish highlight color

$whiteMild: #bbb // some headroom for hover

$grayDarkA1: #333333 // alternate 1
$grayDarkA2: #404040 // alternate 2

$radiusS: 5px
$radiusM: 10px

// light mode colors
html
  --background1: white
  --background2: #ccc
  --textColor1: black
  --textColor2: #444

// dark mode colors
html.invert
  --background1: black
  --background2: #444
  --textColor1: white
  --textColor1: #ccc
