// • scss colors `$someVar`
// • css color variables `var(--someVar)`

$font-stack: Helvetica, sans-serif
$primary-color: #444

$purpleLight: #cae
$purpleDark: #427

$whiteMild: #bbb // some headroom for hover

$grayDarkA1: #333333 // alternate 1
$grayDarkA2: #404040 // alternate 2

$radiusS: 5px
$radiusM: 10px
