// global styles
// • body styles
// • and resuable global styles (div, li, ...) do NOT in import into components
@import 'common'

body
  display: flex // start of flex-chain
  font-size: 62.5% // 1 rem ≙ 10px

  font-family: Ubuntu, sans-serif

  margin: 0
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: var(--background1)
  color: var(--textColor1)

  transition: background-color $speedFast ease-in-out, color $speedFast ease-in-out
