// pass-on flexing
= _commonFlex($flex)  // ‘private’ macro
  display: flex
  flex: $flex
  overflow: hidden // prevents overshoot (if overflow:auto here or deeper-down forgotten)
  box-sizing: border-box

= flexHori($flex: auto)
  @include  _commonFlex($flex)
  min-width: 0 // flexbox ‘draft’ overshoot problem
  width: 100%

= flexVert($flex: auto)
  @include  _commonFlex($flex)
  min-height: 0 // flexbox ‘draft’ overshoot problem
  height: 100%
  flex-direction: column

= borderBox
  box-sizing: border-box

= cornerPin
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

= radiusS
  border-radius: $radiusS

// markerBackground - useful for debugging/development
= markerBg($color: green)
  box-sizing: border-box
  background: rgba($color, .1)

= markerDashed($color: lime)
  box-sizing: border-box
  border: 4px dashed $color

= tinyShadow()
  box-shadow: 0 1px 2px rgba(var(--textColor1), 0.2)
